/*------------------*
# Nav
*------------------*/

header {
    .home & {
        position: absolute;
        width: 100%;
        z-index: 3;
    }
    nav {
        &.sub-nav {
            background: $bg-sub-nav;
            padding: 1.2rem 0;
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              li {
                margin-left: 1.6rem;
                a {
                  display: flex;
                  svg {
                    path {
                      .home & {
                        fill: white;
                      }
                    }
                  }
                }
              }
            }
            .home & {
                background: none;
            }
        }

        &.main-nav {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              margin-bottom: 3.6rem;
              &:nth-last-of-type(1) {
                margin-bottom: 0;
              }
              a {
                color: white;
                text-decoration: none;
              }
            }
          }
        }
    }

    .main-header {
        padding-top: 1.2rem;
        .logo {
            font-family: $base-heading-font-family;
            font-size: 2.2rem;
            text-decoration: none;
            letter-spacing: -0.06rem;
            color: black;
            .home & {
              color: white;
            }
        }
    }
}

// Burger Icon


.bm-menu-wrap {
    position: fixed;
    height: 100vh!important;
    top: 0;
    right: 0 !important;
    width: 100%!important;
    z-index: 1222!important;
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 24px;
    height: 16px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: black;
    height: 10% !important;
    .home & {
      background: white;

    }
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    top: 38px !important;
    right: 5% !important;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    display: flex;
    align-items: center;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }