@font-face {
  font-family: "fonty";
  src: url("../fonts/gilroy-semibold-webfont.woff") format("woff2"),
    url("../fonts/gilroy-semibold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
